@tailwind base;

@layer base {
    :root,
    .dark {
        --background: 44, 100%, 59%;
        --foreground: 4, 77%, 48%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 4, 77%, 48%;

        --popover: 44, 100%, 59%;
        --popover-foreground: 4, 77%, 48%;

        --card: 4, 77%, 48%;
        --card-foreground: 44, 100%, 59%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;

        --primary: 44, 100%, 59%;
        --primary-foreground: 44, 100%, 59%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 4, 77%, 48%;
        --accent-foreground: 44, 100%, 59%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --ring: 240 10% 3.9%;

        --radius: 0.5rem;

        --sidebar-background: 4, 77%, 48%;
        --sidebar-foreground: 44, 100%, 59%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 44, 100%, 59%;
        --sidebar-ring: 4, 77%, 48%;
    }

    .prose * {
        color: hsl(var(--card-foreground)) !important;
    }
}
